<div class="relative mt-6 flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="p-6">
        <% if @project.screenshot.attached? %>
            <%= image_tag @project.screenshot, class: "h-full w-full object-cover rounded-xl" %>
        <% else %>
            <img src="https://placehold.co/600x400" alt="Placeholder image" class="h-full w-full object-cover rounded-xl">
        <% end %>
    </div>
    <div class="p-6">
        <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            <%= @project.name %>
        </h5>
        <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            <%= @project.description %>
        </p>
    </div>
    <%= link_to "View details", project_path(@project), title: "View details on #{@project.name}", class: "select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-indigo-500 transition-all hover:bg-indigo-500/10 active:bg-indigo-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
</div>
