<div>
  <div class="flex justify-between bg-slate-100 rounded-xl p-6 my-6">
    <%= link_to root_path, class: "flex text-indigo-500 underline hover:decoration-indigo-500 hover:underline-offset-2 hover:decoration-2 hover:font-bold" do %>
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
      </span>
      <span class="font-bold">Back to Dashboard view</span>
    <% end %>
  </div>
  <h1 class="font-bold text-4xl">New Project</h1>
  <%= render(Projects::ProjectFormComponent.new(@project)) %>
</div>
