<h2 class="font-bold text-4xl"><%= @project.name %></h2>
<div class="flex justify-between bg-slate-100 rounded-xl p-6 my-6">
    <p class="self-center">
        <%= @project.description %>
    </p>
</div>