<h2 class="font-bold text-4xl"><%= @project.name %></h2>
<div class="flex justify-between bg-slate-100 rounded-xl p-6 my-6">
    <p class="self-center">
        <%= @project.description %>
    </p>
    <div class="flex gap-x-4">
        <%= link_to "Add new link", new_project_path, class: "bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <%= link_to "Import from CSV", new_project_path, class: "bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
</div>
