<div>
  <h1 class="font-bold text-4xl">Dashboard</h1>
  <div class="flex justify-between bg-slate-100 rounded-xl p-6 my-6">
    <p class="self-center">Create a new project to add a new website to monitor.</p>
    <%= link_to "New Project", new_project_path, class: "bg-indigo-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
  <div class="grid grid-cols-4 gap-4">
    <%= render(Projects::ProjectCardComponent.with_collection(@projects)) %>
  </div>
</div>
