<nav class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%  flex justify-between rounded-b-xl">
    <div class="container mx-auto py-6 px-4 flex justify-between">
    <%= link_to render_url(@home), class: "flex" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-person-standing"><circle cx="12" cy="5" r="1"/><path d="m9 20 3-6 3 6"/><path d="m6 8 6 2 6-2"/><path d="M12 10v4"/></svg>
    <span class="font-bold">dA11y</span>
    <% end %>
    <ul>
        <% @menu_items.each do |item| %>
            <li>
                <%= to_link(item) %>
            </li>
        <% end %>
    </ul>
</nav>